@model IEnumerable<DA_webRestaurant.Models.Booking>

<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Table</th>
            <th>Customer Name</th>
            <th>Phone Number</th>
            <th>Booking Time</th>
            <th>Number of Guests</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.BookingId</td>
                <td>@booking.Table.TableType</td>
                <td>@booking.CustomerName</td>
                <td>@booking.PhoneNumber</td>
                <td>@booking.BookingTime.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@booking.NumberOfGuests</td>
                <td>@(booking.Status ? "Checked Out" : "Checked In")</td>
                <td>
                    @if (!booking.Status)
                    {
                        <form asp-action="CheckOut" asp-route-id="@booking.BookingId" method="post">
                            <button type="submit" class="btn btn-danger">Check Out</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
